extends layout
include mixins

block menu
    .row
        .col-md-4.col-sm-6.col-xs-12
            p Welcome to our test
        .col-md-4.col-sm-6.col-xs-12
            p Welcome to our test
        .col-md-4.col-sm-6.col-xs-12
            p Welcome to our test

block content
    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") Project name

        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active: a( href="#") Home
                li: a( href="#about" ) About
                li: a( href="#contact" ) Contact
                li.dropdown
                    a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Dropdown
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="#" ) Action
                        li: a( href="#" ) Another action
                        li: a( href="#" ) Something else here
                        li.divider
                        li.dropdown-header Nav header
                        li: a( href="#" ) Separated link
                        li: a( href="#" ) One more separated link

    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper

        // USER INFO
        #userInfo
            h2 User Info
            p
                strong Name:
                |  <span id='userInfoName'></span>
                br
                strong Age:
                |  <span id='userInfoAge'></span>
                br
                strong Gender:
                |  <span id='userInfoGender'></span>
                br
                strong Location:
                |  <span id='userInfoLocation'></span>
        // /USER INFO

        // USER LIST
        h2 User List
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                tbody
        // /USER LIST

        // ADD USER
        h2 Add User
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserDescription(type='text', placeholder='Description')
                br
                input#inputUserLink(type='text', placeholder='Img Link')
                br
                button#btnAddUser Add User
        // /ADD USER

        // prod LIST
        h2 Prod List
        #prodList
            table
                thead
                    th Name
                    th Price
                    th Image
                tbody
        // /USER LIST


    // /WRAPPER